# node mailer
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=587

NODEMAILER_USER=vishwavikas77@gmail.com
NODEMAILER_PASS=snbv sbal cftu bzpv
USER_MAILER=vishwavikas77@gmail.com
USER_TO=vishwavikas77@gmail.com

# mongodb uri 
MONGODB_URI=

# google analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=